
@import url(https://fonts.googleapis.com/css2?family=Space+Mono&display=swap);


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
background-color: #1c0541;
font-family: 'Space Mono', monospace;
}

h1   {color: rgba(255, 253, 253, 0.945);}


button{

  font-family: 'Space Mono', monospace;
    position: absolute;
	width: auto;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 50px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #000000;
	color: #7b7b7b;
	font-size: 1em;
	color: rgb(255, 255, 255);

	border:2px solid rgba(0,0,0,0.2);
    position: relative;
    transition: all 0.25s ease;
  
}

button:hover{
	background: #7b7b7b;
	color: rgb(255, 255, 255);
}