
@import url(https://fonts.googleapis.com/css2?family=Space+Mono&display=swap);

/* CARDS DE PELICULAS */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=Poppins:wght@300;400&display=swap");
.App {
height: 100%;
font-family: sans-serif;
text-align: center;
font-family: "Poppins", sans-serif;
font-size: 20px;
}

.cardgrid {
display: inline-block;
margin: 5px 5px;
width: 30%;
height: auto;
}


.Title{
color:antiquewhite;
text-shadow: inset 0 0 40px #4830d3;
margin-top: 5%;
text-align: center;

}

.search {
margin-left: 2vw;
display: flex;
justify-content: space-between;
margin-top: 30px;
}


.image {
width: 75%;
border: 3px solid rgb(172, 168, 168);
}

.image:hover{
cursor: pointer;
transform: scale(1.4);  
transition: 0.4s ease-in-out;
box-shadow: 5px 5px 30px 10px rgb(223, 216, 216);
}

h5 {
text-align: center;
margin: 5px 5px;
color: #3b30d3;
margin-top: 50px;
margin-bottom: 10px;
}

p,
span {
color: rgb(172, 168, 168);
}

