@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

html{
    background-image: url(./1GLOTe.png);
    background-repeat:repeat-y;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    
  }
