@import url(https://fonts.googleapis.com/css2?family=Space+Mono&display=swap);

.pelis {
    text-decoration: none;
    margin: 100px 100px 100px 100px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;

    font-family: 'Space Mono', monospace;
    
    
    color: white;
    box-shadow: none;

}