@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 480px;
  margin-bottom: 10%;
  justify-content: space-between;
  margin-right: 0%;
}

.swiper-slide img {
  display: inline;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
  
  .header{
    color: antiquewhite;
  }
  .footer{
    color: antiquewhite;
    margin-top: 200;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 70vh;
    display: block;
    /* margin-left: 120px; */
    margin-top: 100px;
    margin-bottom: 250px;
  }
  
  .container .swiper-container {
    width: 70%;
    position: absolute;
    left: 50%;
    bottom: -16vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2;
    padding-bottom: 3vw;
  }
  
  
  .swiper-pagination-fraction {
    bottom: 0;
  }
  
  .swiper-pagination-bullet {
    width: 25px;
    height: 5px;
    border-radius: 5px;
  }

  /* CARDS DE PELICULAS */

.cardgrid {
  display: inline-block;
  margin: 5px 5px;
  width: 30%;
  height: auto;
}


.Title{
  color: #ffc107;
  text-shadow: 5px 10px 5px black;
  margin-top: 5%;
  text-align: center;
  padding-top: 20px;
  font-size: 70px;
  padding-bottom: 0px;
  line-height: 50px;
   font-family: 'Koulen', cursive;
}

.search {
  margin-left: 2vw;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.newdiv{
  margin-left: 10%;
}
.image {
  width: 75%;
  border: 3px solid rgb(172, 168, 168);
}

.image:hover{
  cursor: pointer;
  transform: scale(1.4);  
  transition: 0.4s ease-in-out;
  box-shadow: 5px 5px 30px 10px rgb(223, 216, 216);
}

h5 {
  text-align: center;
  margin: 5px 5px;
  color: #3b30d3;
  margin-top: 50px;
  margin-bottom: 10px;
}

p,
span {
  color: rgb(172, 168, 168);
}

.paraTi{
  min-width: 200px;
}

.paraTi2{
  min-width: 1700px; /* ACA SE CAMBIA EL TWITTER A LA DERECHA O IZQ */
}

.contenedor{
  background: transparent;
}

.contenedor2{
  background: green;
}